Repository Manidrim/school_project: changes, and which Codecov flags are due for each by the changed paths.
All: php, frontend

refactor: update API controllers and tests for improved clarity and functionality
  api/.deptrac.cache
  api/src/Controller/ApiAdminController.php
  api/src/Controller/ApiAuthController.php
  api/tests/Controller/ApiAdminControllerCompleteTest.php
  api/tests/Security/SecurityTest.php
Due: php

feat: add CI workflows for coverage and linting checks
  .github/workflows/coverage.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-php.yml
  api/.deptrac.cache
  api/config/packages/api_platform.yaml
  api/config/packages/security.yaml
  api/config/routes/docs.yaml
  api/src/Controller/.gitignore
  api/src/Controller/ApiAdminController.php
  api/src/Controller/ApiAuthController.php
  api/src/Entity/Article.php
  api/src/Entity/User.php
  api/src/Infrastructure/Article/DoctrineArticleRepository.php
  api/src/Security/ApiAuthenticationEntryPoint.php
  api/tests/Api/ApiAuthControllerTest.php
  api/tests/Api/ArticlePublicationTest.php
  api/tests/Controller/ApiAuthControllerCompleteTest.php
  api/tests/Controller/ApiAuthControllerEdgeCasesTest.php
  api/tests/E2E/ApiTestCase.php
  api/tests/E2E/ArticleE2ETest.php
  api/tests/Entity/ArticleTest.php
  api/tests/Entity/GreetingTest.php
  api/tests/Entity/UserTest.php
  api/tests/Security/ApiAuthenticationEntryPointRedirectTest.php
  pwa/components/admin/ArticlesList.tsx
Due: php, frontend

refactor: simplify Docker image build process in CI workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-php.yml
  .github/workflows/release.yml
Due: none

chore: update dependencies and configuration for improved functionality
  api/.deptrac.cache
  api/composer.json
  api/composer.lock
  api/deptrac.yaml
  api/symfony.lock
Due: none

linter php, try to exec with memory limit -&
  .github/workflows/lint-php.yml
Due: none

chore: add swap space configuration to PHP linting workflow
  .github/workflows/lint-php.yml
Due: none

refactor: restructure CI workflows for improved clarity and efficiency
  .github/workflows/ci.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-php.yml
  api/composer.json
Due: none

fix(docker): unpin exact wget version to fix CI builds
  pwa/Dockerfile
Due: none

ci: use main's simplified CI workflow for develop
  .github/workflows/ci.yml
Due: none

fix: use develop's composer.lock matching develop's composer.json
  api/composer.lock
Due: none

security: comprehensive security hardening for article management
  .gitignore
  api/config/packages/security.yaml
  api/migrations/Version20250804001452.php
  api/src/Controller/ApiAdminController.php
  api/src/Controller/ApiAuthController.php
  api/src/Entity/Article.php
  api/src/Security/LoginRateLimiter.php
  cookies.txt
  fix_phpstan.sh
  login_cookies.txt
  pwa/contexts/AuthContext.tsx
  pwa/hooks/useArticles.ts
Due: php, frontend

fix: add permissions block to GitHub Actions workflows
  .github/workflows/coverage.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-php.yml
Due: none

fix: fix swap space creation on GitHub Actions runner
  .github/workflows/lint-php.yml
Due: none

fix: increase PHP memory limit for PHPStan
  .github/workflows/lint-php.yml
Due: none

fix(phpstan): add array value types in LoginRateLimiter
  api/src/Security/LoginRateLimiter.php
Due: php

fix: add compose.override.yaml to bake files for php-cs-fixer and phpmd
  .github/workflows/lint-php.yml
Due: none

fix(phpstan): validate readCache() return type at runtime
  api/src/Security/LoginRateLimiter.php
Due: php

perf: add Composer vendor cache to all PHP CI jobs
  .github/workflows/lint-php.yml
Due: none

fix: cache Composer download cache instead of vendor/
  .github/workflows/lint-php.yml
Due: none

fix: mount Composer cache into container via COMPOSER_CACHE_DIR
  .github/workflows/lint-php.yml
Due: none

revert: remove Composer cache — Docker layer cache is sufficient
  .github/workflows/lint-php.yml
Due: none

fix: add compose.override.yaml to bake files for all frontend jobs
  .github/workflows/lint-frontend.yml
Due: none

fix: add swap space to all PHP jobs
  .github/workflows/lint-php.yml
Due: none

ci: trigger PHP pipelines when workflow file itself changes
  .github/workflows/lint-php.yml
Due: none

feat: auto-commit php-cs-fixer fixes via github-actions bot
  .github/workflows/lint-php.yml
Due: none

fix: move swap space setup before docker compose up on all jobs
  .github/workflows/lint-php.yml
Due: none

refactor: merge all PHP jobs into single job with one composer install
  .github/workflows/lint-php.yml
Due: none

fix: fix PHPMD violations in ApiAuthController and LoginRateLimiter
  api/src/Controller/ApiAuthController.php
  api/src/Security/LoginRateLimiter.php
Due: php

fix: add @phpstan-assert to isValidCacheData() for type narrowing
  api/src/Security/LoginRateLimiter.php
Due: php

feat: add Docker Compose configurations for parallel execution and retry
  .DS_Store
  .github/workflows/ci.yml
  api/.DS_Store
  compose.parallel.yaml
  compose.retry.yaml
Due: none

feat: enhance CI workflows with improved API checks and swap space management
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-php.yml
  api/tests/Api/ApiAuthControllerTest.php
  api/tests/Controller/ApiAdminControllerCompleteTest.php
  api/tests/Controller/ApiAuthControllerCompleteTest.php
  api/tests/E2E/ApiTestCase.php
  api/tests/E2E/AuthenticationE2ETest.php
  api/tests/Security/SecurityTest.php
  api/tests/Support/ApiAuthTestClient.php
  pwa/__tests__/auth-context.test.tsx
  pwa/__tests__/components/ArticleForm.test.tsx
  pwa/__tests__/components/ArticlesList.test.tsx
  pwa/__tests__/contexts/auth-comprehensive.test.tsx
  pwa/__tests__/hooks/useArticles.test.tsx
  pwa/__tests__/mockApiResponses.ts
  pwa/__tests__/pages/admin-articles.test.tsx
  pwa/jest.config.js
  pwa/jest.env.js
Due: none

refactor: optimize dependency installation in CI workflows
  .github/workflows/coverage.yml
  .github/workflows/lint-frontend.yml
  api/config/services.yaml
  api/src/Security/LoginRateLimiter.php
  api/tests/E2E/ApiTestCase.php
  api/tests/E2E/AuthenticationE2ETest.php
Due: php

fix: replace non-existent actions/checkout@v6 with @v4 in CI workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  php: any of: api/src/, but not: **/*.test.tsx, **/*.test.ts, **/*.test.php, **/tests/**, **/__tests__/**, **/Test.php, **/TestCase.php, api/bin/**, api/config/**, api/migrations/**, api/var/**, api/vendor/**, pwa/.next/**, pwa/node_modules/**, pwa/coverage/**
  frontend: any of: pwa/pages/, pwa/components/, pwa/contexts/, but not: **/*.test.tsx, **/*.test.ts, **/*.test.php, **/tests/**, **/__tests__/**, **/Test.php, **/TestCase.php, api/bin/**, api/config/**, api/migrations/**, api/var/**, api/vendor/**, pwa/.next/**, pwa/node_modules/**, pwa/coverage/**
